/* Скидання налаштувань за замовчуванням */
*{
    padding: 0;
    margin: 0;
    font-size: 16;
    font-weight: normal;
}

/* Ширину контейнера з контентом сайту */
.container{
    max-width: 1070px; 
    margin: 0 auto;
}
/* Зовнішні відступи від контейнерів з контентом (окрім хедера і футера) */
.about{
    margin: 104px auto 85px;
}
/* Розташування контейнерів на сторінці */
.about, .header_flex, .footer_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ------------------------------------------------------ */
/* Налаштування фону хедера */
header{
    background: rgba(255, 113, 67, 0.27);
    padding: 10px;
    box-shadow: 1px 1px 10px 1.5px;
}
/* Налаштування лого хедера */
.logo_header{
    max-width: 150px; 
}
/* Налаштування заголовка хедера */
h1{
    font-size: 50px;
}
/* Налаштування заголовку першого контейнера */
.about_title{
    max-width: 467px;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: -2.50105px;
    color: #19191B;
    margin-bottom: 30px;
}
/* Налаштування текста першого контейнера */
.about_txt{
    max-width: 410px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
}
/* Загальні налаштування другого контейнера */
.diagnostic{
    max-width: 500px;
}
/* Налаштування заголовку другого контейнера */
.about_diagnostic_title{
    font-weight: 700;
    font-size: 30px;
    letter-spacing: -2.50105px;
    color: #19191B;
    margin-bottom: 25px;
}
/* Налаштування списка другого контейнера */
.about_diagnostic_li{
    font-size: 20px;
    letter-spacing: -0.625263px;
    font-weight: 400;
    margin-left: 25px;
}
/* Налаштування тексту ""Відгуки */
.reviews_title{
    text-align: center;
    font-size: 50px;
}
/* Налаштування блоків з відгуками */
.reviews{
    max-width: 250px;
    max-height: 350px;
    font-size: 27px;
    padding: 30px;
}
/* Налаштування фону футера */
footer{
    background: rgba(255, 113, 67, 0.27);
    padding: 10px;
    box-shadow: 1px 1px 10px 1.5px;
}
/* Налаштування лого футера */
.logo_footer{
    max-width: 130px;
    margin-left: 70px;
}
/* Налаштування посилань на соц.мережі */
.nav_li{
    display: inline-block;
    margin-left: 59px;
}
/* Налаштування логотипів посилань на соц.мережі */
.soc_media_logo{
    max-width: 40px;
}