
/* Ширину контейнера з контентом сайту */
.container{
    max-width: 1070px;  
    margin: 0 auto;
    opacity: 0;
    animation: ani 2.5s forwards;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* Зовнішні відступи від контейнерів з контентом (окрім хедера і футера) */
.about{
    margin: 104px auto 85px;
}

/* Розташування контейнерів на сторінці */
.about, .header_flex, .footer_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Налаштування зображень контейнерів (для адаптива) */
.firstmen{
    max-width: 100%;
    max-height: 100%;
}
/*  */
.about_back{
    background: #FE7D50;
    padding: 30px;
    border-radius: 30px;
}
/* ------------------------------------------------------ */
/* Налаштування фону хедера */
header{
    background: #A5EAEB;
    padding: 10px;
    box-shadow: 1px 1px 10px 1.5px;
}
/* Налаштування лого хедера */
.logo_header{
    max-width: 150px; 
}
/* Налаштування заголовка хедера */
h1{
    font-size: 3.125em;
}
/* Налаштування заголовку першого контейнера */
.about_title{
    max-width: 467px;
    font-weight: 700;
    font-size: 1.875em;
    letter-spacing: -2.50105px;
    color: #ffffff;
    margin-bottom: 30px;
}
/* Налаштування текста першого контейнера */
.about_txt{
    max-width: 410px;
    font-weight: 400;
    font-size: 1.25em;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #ffffff;
}
/* Загальні налаштування другого контейнера */
.diagnostic{
    max-width: 500px;
}
/* Налаштування заголовку другого контейнера */
.about_diagnostic_title{
    font-weight: 700;
    font-size: 1.875em;
    letter-spacing: -2.50105px;
    color: #ffffff;
    margin-bottom: 25px;
}
/* Налаштування списка другого контейнера */
.about_diagnostic_li{
    font-size: 1.25em;
    letter-spacing: -0.625263px;
    font-weight: 400;
    margin-left: 25px;
    line-height: 30px;
    color: #ffffff;
}
/*  */
.title_back{
    max-width: 300px;
    background: #FE7D50;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    margin: 0 auto;
}
/* Налаштування тексту ""Відгуки */
.reviews_title{
    font-size: 3.125em;
    color: #ffffff;
}
/* Налаштування блоків з відгуками */
.reviews{
    max-width: 250px;
    max-height: 350px;
    font-size: 1.6875em;
    padding: 30px;
    background: white;
    border-radius: 10px;
}
/* Налаштування фону футера */
footer{
    background: #A5EAEB;
    padding: 10px;
    box-shadow: 1px 1px 10px 1.5px;
}
/* Налаштування лого футера */
.logo_footer{
    max-width: 130px;
    margin-left: 70px;
}
/* Налаштування посилань на соц.мережі */
.nav_li{
    display: inline-block;
    margin-left: 59px;
}
/* Налаштування логотипів посилань на соц.мережі */
.soc_media_logo{
    max-width: 40px;
}




















@media (max-width: 400px) {
    .about{
        margin: 104px auto 85px;
    }
    /* Розташування контейнерів на сторінці */
    .about, .header_flex, .footer_flex{
        display: inline;
        /* justify-content: space-between;
        align-items: center; */
    }
    /* Налаштування фону хедера */
    
    .about_back{
        background: #FE7D50;
        padding: 30px;
        border-radius: 30px;
    } 
    
    header{
        background: #A5EAEB;
        padding: 10px;
        box-shadow: 1px 1px 10px 1.5px;
    }
    .header_flex, .footer_flex{
        display: flex;
        justify-content: space-between;
    }
    /* Налаштування лого хедера */
    .logo_header{
        max-width: 50px; 
        padding-left: 1em;
    }
    /* Налаштування заголовка хедера */
    h1{
        font-size: 1.425em;
        padding-right: 1em;
    }
    /* Налаштування заголовку першого контейнера */
    .about_title{
        font-weight: 700;
        font-size: 1.675em;
        letter-spacing: -2.50105px;
        color: #ffffff;
        margin-bottom: 30px;
    }
    /* Налаштування текста першого контейнера */
    .about_txt{
        max-width: 410px;
        font-weight: 400;
        font-size: 1.05em;
        line-height: 30px;
        letter-spacing: -0.625263px;
        color: #ffffff;
    }
    /* Загальні налаштування другого контейнера */
    .diagnostic{
        /* max-width: 500px; */
    }
    /* Налаштування заголовку другого контейнера */
    .about_diagnostic_title{
        font-weight: 700;
        font-size: 1.675em;
        letter-spacing: -2.50105px;
        color: #ffffff;
        margin-bottom: 25px;
    }
    /* Налаштування списка другого контейнера */
    .about_diagnostic_li{
        font-size: 1.05em;
        letter-spacing: -0.625263px;
        font-weight: 400;
        margin-left: 25px;
        line-height: 30px;
        color: #ffffff;
    }
    /*  */
    .title_back{
        max-width: 300px;
        background: #FE7D50;
        padding: 10px;
        border-radius: 30px;
        text-align: center;
        margin: 0 auto;
    }
    /* Налаштування тексту ""Відгуки */
    .reviews_title{
        font-size: 1.05em;
        color: #ffffff;
        font-size: 2.05em;
    }
    /* Налаштування блоків з відгуками */
    .reviews{
        max-width: 250px;
        max-height: 350px;
        font-size: 1.3875em;
        padding: 30px;
        background: white;
        border-radius: 10px;
    }
    /* Налаштування фону футера */
    footer{
        background: #A5EAEB;
        padding: 10px;
        box-shadow: 1px 1px 10px 1.5px;
    }
    /* Налаштування лого футера */
    .logo_footer{
        max-width: 50px;
        margin-left: 20px;
    }
    /* Налаштування посилань на соц.мережі */
    .nav_li{
        display: inline-block;
        
    }
    /* Налаштування логотипів посилань на соц.мережі */
    .soc_media_logo{
        max-width: 20px;
    }
}